
{% extends 'base.html' %}
{% load static %}

{% block content %}



		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<section id="about">
	<div class="col-md-8 col-md-push-2">
		<div class="center">
			<h2>EDUCATION</h2>
			<p class="lead">In this section, you can find my education life to start in high school education.</p>
		</div>
		<ul class="about-data">
			<li>
				<div class="inner-abcoin"><i class="glyphicon glyphicon-education"></i></div>

				<span class="value">Polatlı Science High School</span>
				<div class="clear"></div>
				<hr>
			</li>
			<li>
				<div class="inner-abcoin"><i class="fa fa-calendar"></i></div>

				<span class="value">09.2008-06.2012</span>
				<div class="clear"></div>
				<hr>
			</li>
			<li>
				<div class="inner-abcoin"><i class="glyphicon glyphicon-education"></i></div>

				<span class="value">Fırat University</span>
				<div class="clear"></div>
				<hr>
			</li>
			<li>
				<div class="inner-abcoin"><i class="fa fa-calendar"></i></div>

				<span class="value">09.2012-06.2015</span>
				<div class="clear"></div>
				<hr>
			</li>
			<li>
				<div class="inner-abcoin"><i class="glyphicon glyphicon-education"></i></div>

				<span class="value">Bahçeşehir University</span>
				<div class="clear"></div>
				<hr>
			</li>
			<li>
				<div class="inner-abcoin"><i class="fa fa-calendar"></i></div>

				<span class="value">09.2015-06.2019</span>
				<div class="clear"></div>
				<hr>
			</li>
			<li>
				<div class="inner-abcoin"><i class="glyphicon glyphicon-education"></i></div>

				<span class="value">London Hampsteaad Language Scholl</span>
				<div class="clear"></div>
				<hr>
			</li>
			<li>
				<div class="inner-abcoin"><i class="fa fa-calendar"></i></div>

				<span class="value">07.2013-09-2013</span>
				<div class="clear"></div>
				<hr>
			</li>
		</ul>
	</div>


</section>

{%  endblock content %}
