{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <section id="feature">
    <div class="container">
      <div class="center">
        <h2>Experience</h2>
        <p class="lead">I have about a year of software development experience.<br>During this time, I took part in many projects and thanks to these projects, I had the opportunity to improve myself.</p>
      </div>
      <hr>
      <div class="features">
        <div class="col-md-4 col-sm-6">
          <div class="feature-wrap">
            <i class="fa fa-brain"></i>
            <h3>Cyberpark</h3>
            <p>20.06.2014-30.08.2014	<br>   Stajyer (2 months) </p>
          </div>
        </div>
        <!--/.col-md-4-->


        <!--/.col-md-4-->

        <div class="col-md-4 col-sm-6">
          <div class="feature-wrap">
            <i class="fa fa-hashtag"></i>
            <h3>Banqo APP</h3>
            <p>10.06.2015-12.09.2015	<br>   Stajyer (3 months)</p>
          </div>
        </div>
        <!--/.col-md-4-->

        <div class="col-md-4 col-sm-6">
          <div class="feature-wrap">
            <i class="fa fa-spider"></i>
            <h3>1V1Y.COM</h3>
            <p>26.09.2018-21.03.2019	  Stajyer (6 months)</p>
          </div>
        </div>
        <!--/.col-md-4-->


        <!--/.col-md-4-->

        <div class="col-md-4 col-sm-6">
          <div class="feature-wrap">
            <i class="fas fa-code"></i>
            <h3> Vairosoft</h3>
            <p>09.09.2019-28.10.2019  Stajyer (1.5 months)</p>
          </div>
        </div>
        <!--/.col-md-4-->
      </div>
      <!--/.services-->
    </div>
    <!--/.container-->
  </section>
  <!--/#feature-->

{%  endblock content %}
