{% extends 'base.html' %}
{% load static %}

{% block content %}

  <section id="graphics">
    <div class="container">
      <div class="center">
        <h2>Program to automatically test websites using C #</h2>
        <p class="lead">-Visual studio is a desktop application that will automatically test websites with the selenium plugin.</p>
      </div>
      <div class="center">
        <h2>A media player that works with voice commands using C #</h2>
        <p class="lead">-A media player that identifies voice commands and processes according to the user's request </p>
      </div>
      <div class="center">
        <h2>Blog site construction using MVC</h2>
        <p class="lead">A website where people can post comments and publish all kinds of media (audio, video, etc.) using Mcv 5</p>
      </div>
      <div class="center">
        <h2>Mobile application trials using Darts</h2>
        <p class="lead">Development of a piggy bank as a graduation project and development of a mobile application for IOS</p>
      </div>
      <div class="center">
        <h2>Pigg Bank</h2>
        <p class="lead">In this project, I identified money using image processing and verified this with a mobile application.</p>
      </div>
      <div class="center">
        <h2>Blog</h2>
        <p class="lead">I designed a blog site that was not difficult using django.</p>
      </div>
      <div class="center">
        <h2>Car Race Game</h2>
        <p class="lead">In this project, I made a simple 2D car racing game using pygame.</p>
      </div>


      </div>

  </section>

  {%  endblock content %}
